div {
    width: 150px;
    margin: auto;
}
button {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-top: none;
    margin-left: -5px;
}
button:nth-child(3n+1){
    border-left: none;
}

button:nth-child(n+7) {
    border-bottom: none;
}
button:nth-child(3) {
    border-right: none;
}
button:nth-child(6) {
    border-right: none;
}
button:nth-child(9) {
    border-right: none;
}