div {
    width: 150px;
    margin: auto;
}
input {
    width: 20px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    margin-top: 1px;
}